@import "Normalize.scss";
@import "NavigationBar.scss";
@import "ProfilePage.scss";
@import "RestaurantPage.scss";
@import "SignupPage.scss";
@import "Modal.scss";
@import "Cart.scss";
@import "Spinner.scss";
@import "HomePage.scss";
@import "Food.scss";
@import "flaticon/flaticon.css";
@import "LoginPage.scss";
@import 'react-toastify/dist/ReactToastify.css';


@font-face {
  font-family: Vazir;
  src: url("fonts/Vazir.ttf");
}

* {
  font-family: Vazir;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #f7fff7;
}

#root {
  @extend body;
}